/* Fuerza que no aparezca el scroll horizontal */
html{
  overflow-x: hidden;
}
#descripcion{
  color: #766c86;
  height: 156px;
  overflow-y: scroll;
}
/* Fuerza a que el container no cambie su tamaño */
.first-content{
  height: 261px;
}
/* Elemento posterior a la imagen */
.imagen-circular{
  height: 200px; /* Altura de la imagen y el contenedor debajo de esta */
  width: 200px; /* Ancho de la imagen y el contenedor debajo de esta */
}
.texto-circular{
  background-color: #766c86; /* Color del contenedor que esta debajo de la imagen */
  color: #f7f0d6; /* Color del texto */
  height: 200px; /* Altura de la imagen y el contenedor debajo de esta */
  width: 200px; /* Ancho de la imagen y el contenedor debajo de esta */
}
/* Imagen */
.imagen-circular img{
  opacity: 1;
  object-fit: cover; /* Evita que la imagen se distorsione */
  height: 100%; /* Adquiere la altura de su elemento padre */
  width: 100%; /* Adquiere el ancho de su elemento padre */
}
.texto-encima{
  /* position: absolute; */
  top: 332px;
  width: 100%;
}
/* Pseudo clase del posicionamiento sobre la imagen */
.imagen-circular img:hover{
  animation-duration: 1s; /* Duracion de la animacion */
  animation-name: fadeout; /* Animacion de desaparicion */
  opacity: 0; /* Estado final: Invisible */
}
/* Pseudo clase de dejar de posicionar sobre la imagen  */
.imagen-circular img:not(:hover){
  animation-duration: 1s; /* Duracion de la animacion */
  animation-name: fadein; /* Animacion de aparicion */
  opacity: 1; /* Estado final: Visible */
}

/* Declaracion de la animacion que vuelve un elemento invisible */
@keyframes fadeout {
  from {
    opacity: 1; /* Visible */
  }
  to {
    opacity: 0; /* Invisible */
  }
}
/* Declaracion de la animacion que vuelve un elemento visible */
@keyframes fadein {
  from {
    opacity: 0; /* Invisible */
  }
  to {
    opacity: 1; /* Visible */
  }
}

@media screen and (width <= 420px) {
  .texto-encima{
    top: 380px;
  }
}

@media screen and (width <= 332px) {
  .texto-encima{
    top: 420px;
  }
}