body {
    background-image: url(https://img.freepik.com/free-vector/light-pink-heart-pattern_53876-67660.jpg?t=st=1664928571~exp=1664929171~hmac=bd180fed064026ede9400e641dca594dcb0c12c883d3f5ae2aeeb73c9caa0e02);
}

h1 {
    font-family: 'Oleo Script Swash caps', cursive;
    color: #FDD2E1;
    text-shadow: #766C83;
}

.placeholder {
    color: black;
}

.button {
    color: #766C83;
    background-color: #F7F0D6;
    border-radius: 150px;
    
}