/* titulos */
#titulo-h1{
    /*font-family: 'Lily Script One', cursive;*/
    font-family: 'Pacifico', cursive;
    font-style: normal;
    text-align: center;
    line-height: 80px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F4B2B0; 
    -webkit-text-stroke-color:  #f58682; ;
    -webkit-text-stroke-width: 1px ;

}


/*Parrafos*/
#bienvenida{
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: rgba(29, 0, 66, 0.8);
}

#parrafo{
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: rgba(29, 0, 66, 0.8);
}

/* label Formularios */
.contactForm label {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #766C83;
}

#message{
    background: #D9EFFA;
    border: 1px solid #766C83;
    border-radius: 15px;
    box-sizing: border-box;
    color: #766C83;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    height: 200px;
}

/* inputs Formularios */
.contactForm input{
    background: #D9EFFA;
    box-sizing: border-box;
    border: 1px solid #766C83;
    border-radius: 15px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-size: 20px;
    color: #766C83;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 5px;
}


/* Botones */
#btnenviar{
align-items: center;
background: #F7F0D6;
border: 1px solid #766C83;
border-radius: 70px; 
cursor: pointer;
color: #766C83;
font-family: 'Baloo Bhaijaan 2';
font-size: 20px;
justify-content: center;
margin-top:-30px;

transition: .3s;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#btnenviar:hover{
    background: #FCEBAB;
    box-shadow: 0px 15px 20px rgba(109, 209, 248, 0.4);
    color: #766C83;
    transform: translateY(-7px);
}

/*Nuevos cambios para validaciones*/

.error{
    color: red;
    font-family: 'Baloo 2';
    font-style: normal;
    font-size: 18px;

}

.hide {
    opacity: 0;
}

.popup-class{
    border-radius: 15px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-size: 20px;
    color: #766C83;
}