button.btn{
    font-family: 'Niramit', sans-serif;
    color: rgb(118, 108, 131);
}

/* estilos formulario */
.contacto{
	background-color:#F7F0D6;
	width: 50%;
	padding: 4% 3%;
	border-radius: 30px;
	text-align: center;
	align-content: center;
	margin-top: 5vh;
	margin-bottom: 6vh;
	height: 50%;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
}

/* titulos */
#titulo-h1{
    /*font-family: 'Lily Script One', cursive;*/
    font-family: 'Pacifico', cursive;
    font-style: normal;
    text-align: center;
    line-height: 80px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F4B2B0; 
    -webkit-text-stroke-color:  #f58682; ;
    -webkit-text-stroke-width: 1px ;
}

/*Parrafos*/
#bienvenida{
    font-family: 'Niramit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: rgba(29, 0, 66, 0.8);
}

#parrafo{
    font-family: 'Niramit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: rgba(29, 0, 66, 0.8);
}

/* label Formularios */
.contact-form label {
    font-family: 'Niramit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #766C83;
}


/* inputs Formularios */
.contact-form input{
    background: #D9EFFA;
    box-sizing: border-box;
    border: 1px solid #766C83;
    border-radius: 15px;
    font-family: 'Niramit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #766C83;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 5px;
}

/* Estilos text area */
#mensaje{
    background: #D9EFFA;
    border: 1px solid #766C83;
    border-radius: 15px;
    box-sizing: border-box;
    color: #766C83;
    font-family: 'Niramit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    height: 100px;
    padding: 5px;
}


/* Botones */
<<<<<<< HEAD
#btnenviar{
    border: 0;
    cursor: pointer; 
    color: #382b22;
    display: inline-block;
    font-family: 'Niramit', sans-serif;
    font-size: 10px; 
    font-weight: 600;
=======

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Niramit', sans-serif;;
    font-size: 10px;
}


button.btn-enviar{
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
>>>>>>> a59c74bbeac74d8d0f380bc3090e37d3bee96942
    margin-top:10px;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.85em;
<<<<<<< HEAD
=======
    padding: 1em .50em;
>>>>>>> a59c74bbeac74d8d0f380bc3090e37d3bee96942
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
<<<<<<< HEAD


    }


    #btnenviar::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #f9c4d2;
        border-radius: inherit;
        -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
        box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
        -webkit-transform: translate3d(0, 0.75em, -1em);
        transform: translate3d(0, 0.75em, -1em);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    
    #btnenviar:hover{
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
    }

    #btnenviar:hover::before {
        -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
        box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
        -webkit-transform: translate3d(0, 0.5em, -1em);
        transform: translate3d(0, 0.5em, -1em);
    }
    
    #btnenviar:hover:active {
        background: #ffe9e9;
        -webkit-transform: translate(0em, 0.75em);
        transform: translate(0em, 0.75em);
    }
    
    #btnenviar:hover:active ::before {
        -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
        box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
        -webkit-transform: translate3d(0, 0, -1em);
        transform: translate3d(0, 0, -1em);
    }
=======
}
button.btn-enviar::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.btn-enviar:hover{
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

button.btn-enviar:hover::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

button.btn-enviar:hover:active {
    background: #ffe9e9;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

button.btn-enviar:hover:active ::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}
>>>>>>> a59c74bbeac74d8d0f380bc3090e37d3bee96942


/*Nuevos cambios para validaciones*/

/*Nuevos cambios para validaciones*/

/*clase error*/
.msj-error{
    color: red;
    font-family: 'Niramit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

}

.hide {
    opacity: 0;
}






@media screen and (max-width: 768px) {
		.contacto{
			width: 80%;
		}
	
}












