.product-small-img img{
    width: 100%;
    border: 1px solid rgba(0,0,0, 0.2);
    padding: 8px;
    margin: 10px 10px 15px;
    cursor: pointer;
}
.product-small-img{
    width: 8%;
    display: flex;
}
.img-container img{
    height: 460px;
}
.img-container{
    padding: 10px;
    width: 45%;
}