.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 32%;
    cursor: pointer;
}
.sproduct{
    display: block;
    padding: 5px 10px;

}

.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.sproduct input:focus{
    outline: none;
}

