/* General */
html {
  overflow-x: hidden;
}
h2, h3, h4, h5 {
  display: block;
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin: 32px;
}

/* Carrusel */
/* Altura general del carrusel */
.carrusel {
  height: 320px;
}
/* Contenedor de la imagen carrusel */
.carousel-item {
  object-fit: cover;
  /* background-size: cover; */
}
/* Enlace de la imagen del carrusel */
.carousel-item a {
  object-fit: cover;
  max-width: 100%;
  min-width: 35%;
}
/* Ajuste de partes del carrusel para la responsividad y la muestra crrecta de las imagenes */
.carousel-item>.img-contenedor{
  object-fit: cover;
}
/* Imagen */
.carousel-item a img{ 
  object-fit: cover;
  min-width: 84px;
}

/* Descripcion del carrusel */
/* Fondo */
.carousel .carousel-caption{
  background-color: rgb(118, 108, 134,0.4);
}
/* Texto */
.carousel-caption h5{
  margin: 10px;
}

/* Botones de Categorias */
/* Altura del boton contenedor */
a > .card{
  height: 200px;
}
/* Card Ositos */
#card-ositos{
  background-size: cover;
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(https://picsum.photos/200);
  background-color: #fff;
}
#card-ositos:hover{
  background-size: 120%;
  background-position: center;
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(https://picsum.photos/200);
  background-color: #fff;
}
/* Card Accesorios */
#card-accesorios{
  background-size: cover;
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(https://picsum.photos/200);
  background-color: #fff;
}
#card-accesorios:hover{
  background-size: 120%;
  background-position: center;
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(https://picsum.photos/200);
  background-color: #fff;
}
/* Card Ceramica */
#card-ceramica{
  background-size: cover;
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(https://picsum.photos/200);
  background-color: #fff;
}
#card-ceramica:hover{
  background-size: 120%;
  background-position: center;
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(https://picsum.photos/200);
  background-color: #fff;
}
/* Card Otros */
#card-otros{
  background-size: cover;
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(https://picsum.photos/200);
  background-color: #fff;
}
#card-otros:hover{
  background-size: 120%;
  background-position: center;
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(https://picsum.photos/200);
  background-color: #fff;
}

/* Contenedor Categoria */
.categoria{
  height: 300px;
}
.categoria > .row{
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
}
/* Columna de categorias */
.col-categorias{
  display: inline-block;
  min-width: 300px;
}
/* Columna interna del enlace */
nav > a {
  max-width: 286px;
}

/* Scroll */
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}
/* Barra del scroll */
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
  border-radius: 10px;
}
/* Desplazador del scroll */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #F4B2B0;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}

/* Presentacion */
/* Contenedor inicial */
#presentacion{
  height: 800px;
  background-size: cover;
  background-image: url("../assets/img/backgrounds/png_20221027_180509_0000.png")
}
/* Osito en la presentacion */
#osito{
  animation-duration: 12s;
  animation-name: encoger-expandir;
  animation-iteration-count: 1;
  position: absolute;
  top: 25%;
  right: 1%;
  width: 500px;
  /* width: 500px; */
}
#presentacion figure{
  z-index: 2;
}
#presentacion blockquote{
  background-color: rgb(255, 255, 255,0.2);
}
#presentacion blockquote::after{
  -moz-filter   : blur(5px);
    -webkit-filter: blur(5px);
    -o-filter     : blur(5px);

  filter: blur(5px);
}

/* Elementos temporales */
/* Elemento de en medio en el carrusel */
.enmedio{
  min-width: 45%;
}
/* Vistas de la pantalla */
/* Carrusel 2 */
@media (max-width: 575px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
  #osito{
    animation-duration: 12s;
    animation-name: mini-encoger-expandir;
    animation-iteration-count: 1;
    position: absolute;
    top: 25%;
    right: -50px;
    width: 500px;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 576px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}
/* Carrusel 2 fin */

/* Efectos */
#chispa1{
  animation-name: chispazo1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 1;
  opacity: 0;
}
#chispa2{
  animation-name: chispazo2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  position: absolute;
  left: 80%;
  top: 25%;
  z-index: 1;
  opacity: 0;
}
#chispa3{
  animation-name: chispazo3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.8s;
  position: absolute;
  left: 10%;
  top: 80%;
  z-index: 1;
  opacity: 0;
}
#chispa4{
  animation-name: chispazo4;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
  position: absolute;
  left: 25%;
  top: 10%;
  z-index: 1;
  opacity: 0;
}

/* Animacion del osito */
@keyframes encoger-expandir {
  0% {
    opacity: 0;
    top: 50%;
    right: 20%;
    width: 100px;
  }
  40% {
    opacity: 1;
  }
  60% {
    top: 23%;
    right: 0;
    width: 520px;
  }
  100% {
    top: 25%;
    right: 1%;
    width: 500px;
  }
}
@keyframes mini-encoger-expandir {
  0% {
    opacity: 0;
    top: 50%;
    right: -20px;
    width: 100px;
  }
  40% {
    opacity: 1;
  }
  60% {
    top: 23%;
    right: -50px;
    width: 520px;
  }
  100% {
    top: 25%;
    right: -50px;
    width: 500px;
  }
}
/* Animacion de chispas */
@keyframes chispazo1 {
  0%{
    opacity: 1;
    width: 128px;
    left: 50%;
    top: 60%;
  }
  40%{
    width: 80px;
    left: 52%;
    top: 64%;
  }
  100%{
    width: 128px;
    left: 50%;
    top: 60%;
  }
}
@keyframes chispazo2 {
  0%{
    opacity: 1;
    width: 128px;
    left: 80%;
    top: 25%;
  }
  40%{
    width: 80px;
    left: 82%;
    top: 29%;
  }
  100%{
    width: 128px;
    left: 80%;
    top: 25%;
  }
}
@keyframes chispazo3 {
  0%{
    opacity: 1;
    width: 128px;
    left: 10%;
    top: 80%;
  }
  40%{
    width: 80px;
    left: 12%;
    top: 84%;
  }
  100%{
    width: 128px;
    left: 10%;
    top: 80%;
  }
}
@keyframes chispazo4 {
  0%{
    opacity: 1;
    width: 128px;
    left: 25%;
    top: 10%;
  }
  40%{
    width: 80px;
    left: 27%;
    top: 13%;
  }
  100%{
    width: 128px;
    left: 25%;
    top: 10%;
  }
}

/* Permite quitar el scroll cuando esta grande */
@media screen and (min-width:  1201px) {
  .categoria, .categoria > .row{
    overflow-x: hidden;
  }
}
@media screen and (max-width:  1200px) {
  .categoria, .categoria > .row{
    overflow-x: scroll;
  }
}

/* Boton Odry */
.volver a {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: 'Niramit', sans-serif;;
  font-size: 10px;
}

.volver a.btn-historial {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1em .50em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.85em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.volver a.btn-historial::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.volver a.btn-historial:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

.volver a.btn-historial:hover::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}

.volver a.btn-historial:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

.volver a.btn-historial:active::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}
